---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import Header from '../../components/Header.astro';
import Firma from "../../components/Firma.astro";
import {getCollection} from "astro:content";

const todoPost = (await getCollection("tips")).sort(
    (a, b) => a.data.fecha.valueOf() - b.data.fecha.valueOf()
);
console.log(todoPost);
---

<Layout title="Welcome to Astro.">
	<main>
		<Header
			title = "Bienvenidos"
			span="a mis componentes"
		/>
		<ul role="list" class="link-card-grid">
			{
				todoPost.map(i => (
					<Card
					tags={i.data.etiqueta}
					title={i.data.titulo}
					time={i.data.fecha}
					slug={i.slug}
					/>
				))
			}
		</ul>
		<Firma nombre="Jose Tomas Mendoza Puentes" corazon="♥"/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 600px;
	}
	
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
